{% extends "base.html" %}
{% block content %}
<form method=post action="/tos">
    <label>Select Tournament: </label>
    <select name="tournament" size="1" id="tournament" title="" style="width: 20%;" onchange='if(this.value != 0 && this.value != "{{ tournamentselected }}") { this.form.submit(); }'>
        <option value="{{ tournamentselected }}" selected>{{ tournamentselected }}</option>
        {% if tournaments|length  > 1 %}
        {% for t in tournaments %}
        {% if t != tournamentselected %}
            <option value="{{ t }}">{{ t }}</option>
        {% endif %}
        {% endfor %}
        {% endif %}
    </select>
</form>

<div style="float:left; padding: 25px;">
    <h3>Name: {{ name }}</h3>
    <h3>Region: {{ region }}</h3>
    <h3>Year: {{ year }}</h3>
    <h3>Season: {{ season }}</h3>
</div>
<div style="float:left; padding: 25px;">
    <h3>Prize Pool: {{ p[0][0] }}</h3>
    <h3>Winner: {{ f[0][0] }}</h3>
    <h3>Runner Up: {{ s[0][0] }}</h3>
</div>
{% endblock %}